
.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 55px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: lightgray;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;

    .list-group{
        a.list-group-item {
            border: 0;
            border-radius: 0;
            color: #444;
            font-size: 25px;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
    }

    .nav-item-container {
        margin-bottom: 20px;
    }
}