<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
      <div class="nav-item-container">
          <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Home
          </a>
      </div>
      <div class="nav-item-container">
          <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            About
          </a>
      </div>
      <div class="nav-item-container">
          <a [routerLink]="['/viewer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Viewer
          </a>
      </div>
  </ul>
</nav>